bleak==3.0.2
bless==0.3.0
pyobjc-core==12.2.2 ; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.2.2 ; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==12.2.2 ; sys_platform == "darwin"
pyobjc-framework-libdispatch==12.2.2 ; sys_platform == "darwin"
rumps==0.4.0 ; sys_platform == "darwin"
